body {
    background-color: #43a746;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='12' viewBox='0 0 20 12'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='charlie-brown' fill='%2334cc67' fill-opacity='0.4'%3E%3Cpath d='M9.8 12L0 2.2V.8l10 10 10-10v1.4L10.2 12h-.4zm-4 0L0 6.2V4.8L7.2 12H5.8zm8.4 0L20 6.2V4.8L12.8 12h1.4zM9.8 0l.2.2.2-.2h-.4zm-4 0L10 4.2 14.2 0h-1.4L10 2.8 7.2 0H5.8z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}
.login-container, .reset-pass-container{
    margin: 100px auto 0 auto;
    width: 300px;
}

.login-container img{
    margin: 0 auto;
}

.txt-uppercase {
    text-transform: uppercase;
}

/* .loader-container {
    margin-left: 10px;
} */

.register-container {
    margin: 100px auto 0 auto;
    width: 500px;
}

.divider-right{
    border-right: 1px solid #e0e0e0;
}
.divider-bottom{
    border-bottom: 1px solid #e0e0e0;
}

.no-margin-bottom {
    margin-bottom: 0;
}

.no-margin-top {
    margin-top: 0;
}

@media only screen and (max-width: 600px) {
  .register-container, .login-container, .reset-pass-container{
    width: auto;
  }
}


/* .preloader-wrapper {
    margin-left: 15px !important;
    height: 25px !important;
    width: 25px !important;
} */

/* Prompt return style*/
.form-error, .form-success, .form-primary{
    color: #fff !important;
    padding: 10px;
    border-radius: 2px;
}

.form-error{
    background-color: #F44336;
}

.form-success{
    background-color: #4CAF50;
}

.form-primary{
    background-color: #1565c0;
}
/*end*/


/* animations configs*/
.fadeInRight, .fadeOutLeft, .fadeOutRight{
    -webkit-animation-duration: .40s;
    animation-duration: .40s;
    /*-webkit-animation-delay: .10s;
    animation-delay: .10s;*/
}

.zoomOut, .zoomIn{
  -webkit-animation-duration: .5s;
  animation-duration: .5s;
}

@-webkit-keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-5%, 0, 0);
    transform: translate3d(-5%, 0, 0);

  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-5%, 0, 0);
    transform: translate3d(-5%, 0, 0);
    /*visibility: hidden;*/
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
    visibility: visible;
  }
}

@-webkit-keyframes fadeOutLeft {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(-5%, 0, 0);
    transform: translate3d(-5%, 0, 0);
  }
}

@keyframes fadeOutLeft {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(-5%, 0, 0);
    transform: translate3d(-5%, 0, 0);
  }
}

@-webkit-keyframes fadeOutRight {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(5%, 0, 0);
    transform: translate3d(5%, 0, 0);
  }
}

@keyframes fadeOutRight {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(5%, 0, 0);
    transform: translate3d(5%, 0, 0);
  }
}
/* End */
