#pages-div-holder {
    overflow: auto;
}
ul#page-lists {
    margin: 0;
    width: 100%;
    display: table;
    white-space: nowrap;
}

ul#page-lists li.parent-li {
    display: table-cell;
}

ul#page-lists li.parent-li a{
    margin-right: 15px;
}

ul#page-lists li.parent-li i {
    display: inline;
    margin-right: 10px;
}

ul#page-lists li.parent-li ul.parent-li-sub {
    margin: 0 15px;
}

ul#page-lists li.parent-li ul.parent-li-sub > li{
    padding: 5px;
}

[type="checkbox"]:not(:checked), [type="checkbox"]:checked {
    position: inherit;   
}
