header,
main,
footer {
    padding-left: 0;
}

body {
    background-color: #EFEFEF;
}

.container{
    margin-top: 30px;
}

/*.row{
    margin-bottom: 10px;
}*/

.header-color{
    color: #02955a;
}

.divider-right{
    border-right: 1px solid #e0e0e0;
}

.divider-left{
    border-left: 1px solid #e0e0e0;
}

.divider-bottom{
    border-bottom: 1px solid #e0e0e0;
}

.divider-margins-height {
    margin: 15px 0;
}

.divider-margins-width {
    margin: 0 15px;
}

.divider{
    overflow: visible;
}
/* animations configs*/
.fadeInRight, .fadeOutLeft, .fadeOutRight{
    -webkit-animation-duration: .40s;
    animation-duration: .40s;
    /*-webkit-animation-delay: .10s;
    animation-delay: .10s;*/
}

.zoomOut, .zoomIn{
  -webkit-animation-duration: .5s;
  animation-duration: .5s;
}

@-webkit-keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-5%, 0, 0);
    transform: translate3d(-5%, 0, 0);

  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-5%, 0, 0);
    transform: translate3d(-5%, 0, 0);
    /*visibility: hidden;*/
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
    visibility: visible;
  }
}

@-webkit-keyframes fadeOutLeft {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(-5%, 0, 0);
    transform: translate3d(-5%, 0, 0);
  }
}

@keyframes fadeOutLeft {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(-5%, 0, 0);
    transform: translate3d(-5%, 0, 0);
  }
}

@-webkit-keyframes fadeOutRight {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(5%, 0, 0);
    transform: translate3d(5%, 0, 0);
  }
}

@keyframes fadeOutRight {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(5%, 0, 0);
    transform: translate3d(5%, 0, 0);
  }
}
/* End */

/* Modals Edited*/
.modal .modal-footer .btn-flat{
    padding: 0 22px !important;
}

.modal .modal-footer .btn-flat i.left{
    margin-right: 10px;
}

.modal .modal-footer{
    padding: 4px 25px;
}
/*End*/

/*login style*/
.login-container{
    margin: 100px auto 0 auto;
    width:600px;
}

.login-container img{
    margin: 0 auto;
}

#log-setting .material-icons.center{
    text-align: center;
    float: none;
    margin: 0;
    width: auto;
}
/*end*/

/* Validations */
input:not([type]).invalid+label:after, input:not([type]):focus.invalid+label:after, input[type=text].invalid+label:after, input[type=text]:focus.invalid+label:after, input[type=password].invalid+label:after, input[type=password]:focus.invalid+label:after, input[type=email].invalid+label:after, input[type=email]:focus.invalid+label:after, input[type=url].invalid+label:after, input[type=url]:focus.invalid+label:after, input[type=time].invalid+label:after, input[type=time]:focus.invalid+label:after, input[type=date].invalid+label:after, input[type=date]:focus.invalid+label:after, input[type=datetime-local].invalid+label:after, input[type=datetime-local]:focus.invalid+label:after, input[type=tel].invalid+label:after, input[type=tel]:focus.invalid+label:after, input[type=number].invalid+label:after, input[type=number]:focus.invalid+label:after, input[type=search].invalid+label:after, input[type=search]:focus.invalid+label:after, textarea.materialize-textarea.invalid+label:after, textarea.materialize-textarea:focus.invalid+label:after {
    font-size: 0.75rem;
    top: 2.8rem;
}

.input-field input.invalid-with-val + label:after{
    top: 4.5rem !important;
}

.input-field label{
    width: 100%;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px white inset !important;
    box-shadow: 0 0 0 1000px white inset !important;
}
/* End*/


/* menus */
nav{
    background-color: #fff;
}

.sidenav li.logo {
    line-height: normal !important;
    height: auto !important;
    padding: 20px;
}

.sidenav li>a.brand-logo{
    word-break: break-word;
    line-height: normal;
    height: auto;
    padding: 0;
    /* margin: 5px 0 0 5px; */
}

.brand-logo img{
    height: 35px;
}

.nav-wrapper a, ul.dropdown-content > li:hover a, .dropdown-content li, .dropdown-content li>span, .collection a.collection-item, [type="radio"]:not(:checked)+label, [type="radio"]:checked+label, .tabs .tab a, .collapsible a, .sidenav .collapsible .collapsible-header, .collapsible .collapsible-body ul li i{
    color: #5F5F5F !important;
}

.sidenav .collapsible .collapsible-header a.waves-effect{
    -webkit-transition: .1s ease-out !important;
    transition: .1s ease-out !important;
}

.switch label input[type=checkbox]:checked + .lever{
    /* background-color: rgba(2, 104, 190, 0.7); */
    background-color: #00c173;
}

.nav-wrapper ul.main-nav > li:hover, ul.dropdown-content > li:hover:not(.active), .dropdown-content li:hover:not(.active), .collection a.collection-item:not(.active):hover, .sidenav li:not(.exclude-hover) > a:hover, .tabs .indicator, .select2-container--default .select2-results__option--highlighted[aria-selected], .collapsible .collapsible-body ul li:hover, .collection .collection-item:hover{
    /*background-color: rgba(2, 104, 190, 0.8);*/
    background-color: #00c173;
    transition: .25s;
}

.dropdown-content li.active.selected, .collection .collection-item.active, .dropdown-content li.active, .dropdown-content li.selected, .switch label input[type=checkbox]:checked+.lever:after, nav ul li.active, .sidenav li.active, .select2-container--default .select2-results__option[aria-selected=true], .sidenav .collapsible-header.active, .sidenav .collapsible li.active .collapsible-body li.active{
    background-color: #02955a;
    /*color: #fff !important;*/
}

.nav-wrapper > ul.main-nav > li:hover > a, ul.dropdown-content > li:hover a, .dropdown-content li:hover > span, .dropdown-content li.active.selected > span, .collection .collection-item.active, .collection .collection-item.active a, nav ul li.active, nav ul li.active > a, .dropdown-content li.active a, .collection .collection-item:hover, .collection .collection-item:hover i, .collection-item:hover a, .dropdown-content li.active > span, .select2-container--default .select2-results__option[aria-selected=true], .collapsible-header.active, .collapsible .collapsible-body ul li:hover a, .sidenav li:not(.exclude-hover) > a:hover, .sidenav li:not(.exclude-hover) > a:hover i, .sidenav li.active i, .sidenav .collapsible li.active .collapsible-header, .sidenav .collapsible li.active .collapsible-body li.active a, .sidenav .collapsible li.active .collapsible-body li.active a i{
    color: #fff !important;
}

/* Radios and Checkbox */
[type="radio"].with-gap:checked+label:before{
    border: 2px solid #00c173;
}

[type="radio"].with-gap:checked+label:after{
    border: 2px solid #00c173;
    background-color: #00c173;
}

[type="checkbox"].filled-in:checked+label:before{
    left: 2px;
    width: 5px;
}

[type="checkbox"]+label{
    padding-left: 23px;
    vertical-align: middle;
}

[type="checkbox"].filled-in:checked+label:after{
    border: 2px solid rgba(2, 104, 190, 0.8);
    background-color: rgba(2, 104, 190, 0.8);
}
/* End*/
/* for dropdown */
.dropdown-content li>a, .dropdown-content li>span{
    font-size:13px;
}
.dropdown-content.main-menus li>a>i {
    margin-right: 15px !important;
}

/* for select2 */
.select2-container--default .select2-search--dropdown .select2-search__field, .select2-container--open .select2-selection.select2-selection--single{
    border: none;
    border-bottom: 1px solid #00c173 !important;
    box-shadow: 0 1px 0 0 #00c173;
}
.select2-container--default .select2-selection--single .select2-selection__rendered{
    line-height: 2.1rem;
}
.select2-container--default .select2-selection--single{
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #9e9e9e;
    height: 2.7rem;
    line-height: 3rem;
    outline: none;
}
.select2-container .select2-selection--single .select2-selection__rendered{
    padding-left: 10px;
}
.select2-container--default .select2-results>.select2-results__options{
    word-wrap: break-word;
}
.select2-container--open .select2-dropdown--below{
    border-top: 1px solid #aaa;
}
.select2-container--open .select2-dropdown--above{
    border-bottom: 1px solid #aaa;
}
/* End*/

nav ul a{
    font-size: 13px;
    font-weight: bold;
}

nav i, nav i.material-icons, nav i.fa{
    font-size: 25px;
}

.log-user-container a, .no-padding{
    padding:0 10px;
}

/* .nav-wrapper ul.main-nav > li:last-child a:hover, .dropdown-content li:first-child, .sidenav > li:hover{
    background: none;
} */

ul.main-nav > li {
    float: none;
    display: inline-block;
    margin-right: -4px;
}

ul.main-nav {
    overflow-x: hidden;
    width: 812px;
    white-space: nowrap;
    height: inherit;
    overflow-y: hidden;
}

@media only screen and (max-width: 993px){
    ul.main-nav {
        width: auto;
    }
}

.log-user-container{
    padding: 3px 0;
    line-height: normal;
    border-left: 1px solid #ddd;
}

.log-user-container img, .log-setting-dropdown{
    height: 40px;
}

#log-setting2 > li {
    line-height: 40px;
}

.log-user-container img{
    border: 1px solid #9e9e9e;
}

.log-user-container .dropdown-content li>a{
    padding: 8px;
}

.log-user-container .dropdown-content{
    min-width: 73px;
}

.sidenav .log-user-container {
    margin-top: 5px;
}

.sidenav .log-user-container img {
    margin-left: 10px;
}

.sidenav .log-user-container .logged-name {
    margin-left: 10px;
    vertical-align: middle;
    font-size: small;
    /* width: 123px; */
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.sidenav .log-user-container a {
    line-height: inherit;
    height: inherit;
}

/* end */

/*Loaders edited*/
.spinner-blue-only, .spinner-blue{
    border-color: #02955a;
}

.spinner-white-only{
    border-color: #fff;
}

.loader-container .preloader-wrapper{
    margin: 10px;
}

.collection-item .loader-container .preloader-wrapper{
    margin: 0;
}

.loader-container .preloader-wrapper.small{
    width: 20px;
    height: 20px;
}

.toast{
    padding: 0 15px;
}
/*end*/

/* label focus color */

.input-field input[type=text]:focus + label, .input-field input[type=password]:focus + label, textarea.materialize-textarea:focus:not([readonly]) + label, input[type=email]:focus:not([readonly]) + label, input[type=number]:focus:not([readonly]) + label{
    /*color: #9e9e9e;*/
    color: #00c173;
}


/* label underline focus color */

.input-field input[type=text]:focus, .input-field input[type=password]:focus, input[type=search]:focus:not([readonly]), input[type=text]:focus, textarea.materialize-textarea:focus:not([readonly]), input[type=email]:focus:not([readonly]), input[type=number]:focus:not([readonly]), input[type=text]:focus:not([readonly])
{
    border-bottom-color: #00c173 !important;
    box-shadow: 0 1px 0 0 #00c173;
}

textarea.materialize-textarea{
    padding: 15px 0;
}

/* valid color */

/*.input-field input[type=text].valid {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
}*/


/* invalid color */

/*.input-field input[type=text].invalid {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
}*/


/* icon prefix focus color */

/*.input-field .prefix.active {
    color: #000;
}*/
/* END */

/* custom btns */
.btn{
    background-color: #02955a;
    padding:0 20px;
}

.btn i.right{
    margin-left: 10px;
}

.btn i:not(.right){
    vertical-align: bottom;
    margin-right: 5px;
}

.btn:focus{
    background-color: #02955a;
}

.btn:hover{
    background-color: #00c173;
}

/*for form btn*/
.div-action-btns a{
    /*margin-top: -20px;*/
    margin-right: 10px;
}

.div-action-btns a:last-child{
    margin-right: 0;
}
.div-action-btns.right, .div-action-btns.left{
    margin-top: 10px;
}

.link-action-btns li{
    margin-bottom: 10px;
}

.link-action-btns li:last-child{
    margin-bottom: 0;
}
/* END */

/* side nav */
/* adjusting main */
header, main, footer {
    padding-left: 250px;
}

@media only screen and (max-width : 992px) {
    header, main, footer {
        padding-left: 0;
    }
}

.sidenav {
    width: 250px;
}

.sidenav li{
    padding: 0;
}

.sidenav li.exclude-hover>a:hover {
    background: none;
}

/* .sidenav > li:first-child:hover, .sidenav > li:first-child:hover a, .collapsible .collapsible-accordion{
    background: none;
} */

.sidenav a {
    font-size: 13px;
    line-height: 50px;
    height: 56px;
}

/* .sidenav .dropdown-content li>a{
    line-height: 35px !important;
    height: 35px;
} */

.sidenav .log-setting-side-dropdown span{
    position: absolute;
    font-weight: normal;
    vertical-align: middle;
    height: auto;
    line-height: normal;
    margin: 10px;
}

.sidenav .log-user-container img{
    vertical-align: middle;
}

.sidenav .log-user-container .dropdown-content li a i.material-icons {
    margin-right: 10px !important;
}

.sidenav .collapsible-header{
    margin: 0;
}

.sidenav .collapsible .collapsible-body ul li a {
    white-space: nowrap;
}

.sidenav .collapsible .collapsible-body ul li:hover a, .sidenav li.active:not(.exclude-hover) > a:hover{
    background: none;
}

ul.sidenav.sidenav-fixed {
    overflow: hidden;
}

ul.sidenav.sidenav-fixed:hover {
    overflow-y: visible;
}

.sidenav .collapsible-body>ul:not(.collapsible)>li.active, .sidenav.sidenav-fixed .collapsible-body>ul:not(.collapsible)>li.active {
    background-color: #02955a;
}

.sidenav li>a>i.material-icons {
    margin: 0 20px 0 0;
}
/* .sidenav .collapsible.collapsible-accordion li:not(.active){
    background: none !important;
} */
/* end side nav */

/* Prompt return style*/
.form-error, .form-success, .form-primary{
    color: #fff !important;
    padding: 10px;
    border-radius: 2px;
}

.form-error{
    background-color: #F44336;
}

.form-success{
    background-color: #4CAF50;
}

.form-primary{
    background-color: #2962ff;
}
/*end*/

/* cards */
.card-title .material-icons.small, .card-content h5 i, h5 i.material-icons{
    vertical-align: middle;
    margin-right: 10px;
    background-color: #00c173;
    padding: 8px;
}

.card .card-content .card-title i {
    line-height: 30px;
}

h5 i.fa{
    vertical-align: initial;
}

.card-content > h5{
    display: inline-block;
    margin-top: 0;
}

.eb-container .card-content:not(:last-child){
    border-bottom: 1px solid #e0e0e0;
    margin-bottom: 15px;
    padding-bottom: 15px !important;
}

.eb-container .card-content .card-remove-btn, .eb-container .card-content .card-edit-btn{
    padding: 0px 5px !important;
    /*line-height: normal;
    height: auto;*/
}

.eb-container .card-content .card-title, .we-container .card-content .card-title{
    font-size: 20px !important;
}
/*end*/

/* DataTables */
.table-bordered{
    border: 1px solid #e0e0e0;
}

table.dataTable thead th, table.dataTable thead td, table.dataTable tbody th, table thead th{
    color: #5F5F5F;
    border-bottom: 1px solid #e0e0e0;
}

/*div.table-bordered table thead th{
    border-right: 1px solid #e0e0e0;
}*/

div.table-bordered table thead th, div.table-bordered table thead td, div.table-bordered table tbody th, div.table-bordered table tbody td{
    /*border-right: 1px solid #e0e0e0;*/
    border-bottom: 1px solid #e0e0e0;
}

table.dataTable thead th:last-child, table.dataTable thead td:last-child, table.dataTable tbody th:last-child, table.dataTable tbody td:last-child{
    border-right: none;
}

table.dataTable tbody tr:last-child td, div.table-bordered{
    border-bottom: none;
}

table.dataTable.no-footer{
    border-bottom-color: #e0e0e0;
}

.dataTables_wrapper .dataTables_filter{
    text-align: left;
}

.dataTables_wrapper .dataTables_filter input{
    margin-left: 0;
}

.dataTables_wrapper .dataTables_paginate{
    padding-top: 0.58em !important;
}

.paginate_button{
    display: inline-block !important;
    padding: 0 10px !important;
    line-height: 30px !important;
    border-radius: 2px !important;
    text-align: center !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
    border: none !important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button:hover{
    background: none !important;
    color: #333 !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover{
    background: none !important;
    border: none !important;
    color: #fff !important;
    background-color: #02955a !important;
    opacity: 0.8;
}

.paginate_button.previous i, .paginate_button.next i{
    vertical-align: middle;
}

.dataTables_wrapper div.table-scroll{
    overflow-x: auto;
    /*display:block;*/
    width: 100%;
}

/*.dataTables_wrapper div.table-scroll table{
    width: 100% !important;
}*/

table.th-nowrap th, table.td-nowrap td{
    white-space: nowrap;
}

table.dataTable tbody tr.active{
    background: #f2f2f2;
}
/* End */

/* Summary */
.summary-stat-body > span{
    display: block;
    font-weight: bold;
    font-size: 25px;
}
.summary-stat-body > span > i{
    vertical-align: middle;
    margin-right: 5px;
}
/* End*/

/* Tabs */
.tab-content{
    margin-top: 20px;
}
.tabs li > a{
    padding: 0 10px;
}
/* End*/

/* bottom footer */
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

footer.page-footer{
    background-color: #02955a;
}

footer.page-footer .footer-copyright{
    height: 20px;
    line-height: 20px;
    font-size: 10px;
    min-height: 20px;
}

footer.page-footer .footer-copyright .container-footer{
    width: 100%;
}

footer.page-footer{
    margin-top: 0;
    padding-top: 0;
}

@media only screen and (min-width: 601px){

    nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i{
        height: 50px;
        line-height: 50px;
    }

    nav a.button-collapse, nav a.button-collapse i{
        margin-right: 10px;
    }

    .login-logo-container{
        margin-top: 65px;
    }

    /*.login-container{
        width:auto;
    }*/

    .brand-logo {
        width: 80%;
        font-size: 18px !important;
        text-align: center;
    }

}
@media only screen and (max-width: 710px){
    .login-container{
        width:auto;
    }

    .brand-logo {
        width: 80%;
        font-size: 18px !important;
        text-align: center;
    }
}
/* mobile */
@media only screen and (max-width: 600px){
    nav a.button-collapse, nav a.button-collapse i{
        margin-right: 10px;
    }

    .login-logo-container{
        margin-top: 0;
        margin-bottom: 20px;
    }

    .login-container{
        width:auto;
        margin-top: 0;
    }

    .divider-right, .divider-left{
        border: none;
    }

    .margin-bot-on-small {
        margin-bottom: 15px;
    }

    .brand-logo {
        width: 80%;
        font-size: 18px !important;
        text-align: center;
    }

    .sidenav li>a.brand-logo {
        width: 100%;
    }


}

@media only screen and (min-width: 993px){
    .container, .container-footer {
        width: 95%;
    }

    .container-footer{
        margin: 0 auto;
    }

    /* alert modal on  */
    .modal.modal-dialog-box {
        width: 25%;
    }

    /*.login-container{
        margin-top: 10px;
        width: 600px;
    }*/
}

/* Dashboard */
.dash-card-header{
    padding: 10px 0 0 10px;
}

.dash-card-header i{
    margin-right: 10px !important;
    background-color: #00c173;
    padding: 8px;
    vertical-align: middle;
}

.dash-card-header h5{
    border-bottom: 1px solid #00c173;
    display: inline-block;

    /*text-decoration: underline;*/
    padding: 0 5px 5px 5px;
}
/*End*/

/* For applicant profile */
.profile-photo{
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.photo-upload-preview-label{
    position: absolute;
    padding: 5px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: rgba(0,0,0, 0.24);
    color: #fff;
}

.photo-upload-preview-label i{
    vertical-align: bottom;
    margin-right: 5px;
}

.photo-upload-controls .loader-container{
    display: inline-flex;
    vertical-align: middle;
}

.profile-photo.preview {
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
    filter: grayscale(1);
}
/* End*/

/* For Settings */
.collapsible .collapsible-body ul li a{
    margin-left: 25px;
    /* padding: 10px 0 10px 0; */
    display: block;
}
/* End */

/* Custom Inputs */
.input-with-icon > input[type="text"] {
    /* width: 80%; */
    margin-right: -37px;
}

.input-with-icon > .spinner-loader {
    position: absolute;
    /* display: inline-block;
    vertical-align: middle; */
    right: 43px;
    top: 4px;
}

.input-with-icon > .input-with-icon {
    float: right;
}
/* End */

/* Helpers */
.no-margin-top {
    margin-top: 0;
}

.no-margin-bottom {
    margin-bottom: 0;
}

.no-margins {
    margin: 0;
}

.no-padding {
    padding: 0;
}

.no-padding-top {
    padding-top: 0 !important;
}

.no-padding-bottom {
    padding-bottom: 0 !important;
}

.txt-uppercase {
    text-transform: uppercase;
}
.autocomplete-content.dropdown-content li:hover {
    color: #fff;
}

.margin-bottom-10 {
    margin-bottom: 10px;
}

.margin-bottom-20 {
    margin-bottom: 20px;
}
/*  */
